# ----------------------------------------------------------------------------------------------------------------------
# Git ignored files
# ----------------------------------------------------------------------------------------------------------------------
# MAC
*.DS_Store

# PyCharm
.idea/